<h1>GRUBBY PAWS</h1>

<h2 class="current-category"><%= params[:category]%></h2>

<% if @restaurants.count == 0 %>
  <h1>There are no restaurants currently in this category</h1>
  <% else %>
<% @restaurants.each do |restaurant| %>
  <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <% end %>
<% end %>
