<p><%= review.rating %></p>
<p><%= review.comment %></p>

<%= link_to "edit", edit_restaurant_review_path(review.restaurant, review) %>
<%= link_to "delete", restaurant_review_path(review.restaurant, review), method: :delete, data: { confirm: "Are you sure?" } %>
